{% extends "template.html" %}
{% block title %} Add Chocolate {% endblock %}

{% block container %}

<form class="addForm">
    <div>
        <img class="addImage" src="static/images/default.avif">
    </div>
    <div>
        Name*:
        <input class="addInput" type="text" name="name" id="iName" placeholder="name">
        Rating*:
        <input class="addInput" type="number" name="rating" id="iRating" min="0" max="10">
        Link:
        <input class="addInput" type="url" name="link" id="iLink">
    </div>
</form>

{% endblock %}